/*================================================ Reset CSS =========================================================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'BebasNeueRegular', 'OpenSans', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*================================================ Fonts =============================================================*/
@font-face {
  font-family: 'BebasNeueBold';
  src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BebasNeueBold.otf')  format('opentype'),
       url('../fonts/BebasNeueBold.woff') format('woff'),
       url('../fonts/BebasNeueBold.ttf')  format('truetype'),
       url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BebasNeueRegular.otf')  format('opentype'),
       url('../fonts/BebasNeueRegular.woff') format('woff'),
       url('../fonts/BebasNeueRegular.ttf')  format('truetype'),
       url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans.woff') format('woff'),
       url('../fonts/OpenSans.ttf')  format('truetype'),
       url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Bold.woff') format('woff'),
       url('../fonts/OpenSans-Bold.ttf')  format('truetype'),
       url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*================================================ My styles =========================================================*/
body {
  background: url('../images/backgr.jpg') center top no-repeat;
  background-size: cover;
}
.container {
  margin: 0 auto;
  max-width: 1024px;
  box-sizing: border-box;
}
/*----------------------------------------------- Header -------------------------------------------------------------*/
.profile-page {
  header {
    .header-logo {
      background-color: #414146;
    }
  }
}
.home {
  header {
    img {
      left: -45px;
      position: relative;
    }
  }
}
header {
  .header-logo {
    position: relative;
    margin: 70px 0 20px;
    text-align: center;
    background-color: rgba(65, 65, 70, 0.85);
    &.profile-header {
      text-align: left;
    }
  }
  .main-title {
    text-indent: -9999px;
  }
  .person-img {
    position: absolute;
    top: -60px;
    left: 37px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #fff;
    img {
      width: 100%;
    }
  }
  .name-title {
    padding: 30px 0 17px 220px;
    color: #414146;
    font-family: BebasNeueBold;
    font-size: 44px;
    line-height: 63px;
    text-transform: uppercase;
    background-color: #ffd600;
  }
  .caste-title {
    display: inline-block;
    padding: 26px 0 20px 35px;
    color: white;
    font-size: 23px;
    line-height: 34px;
    text-transform: uppercase;
  }
  .social-btns {
    float: right;
    padding: 22px 35px 22px 0;
    .list-item {
      display: inline-block;
      .item-link {
        position: relative;
        display: block;
        margin-left: 7px;
        width: 32px;
        height: 32px;
        color: #414146;
        font: normal normal normal 19px/1 FontAwesome;
        border-radius: 50%;
        background-color: #777;
      }
      .facebook-link {
        &:after {
          content: '\f09a';
          position: absolute;
          top: 8px;
          left: 10px;
        }
      }
      .linkedin-link {
        &:after {
          content: '\f0e1';
          position: absolute;
          top: 6px;
          left: 8px;
        }
      }
    }
  }
}
/*---------------------------------------------- Content -------------------------------------------------------------*/
.select2-container--default .select2-results__option .select2-results__option {
  font-family: 'OpenSans', sans-serif;
  color: #90909b;
}
.select2-container--default .select2-results__group {
  font-family: 'OpenSans', sans-serif;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  font-family: 'OpenSans', sans-serif;
}
.select2-results__option {
  font-family: 'OpenSans', sans-serif;
}/* select font color and style */
.profile-page {
  .container {
    padding: 0;
  }
}
main {
  margin-bottom: 20px;
  .container {
    padding: 70px 100px;
    background-color: #fff;
  }
  .filter-wrapper {
    position: relative;
    margin-bottom: 130px;
  }
  .select2-container {
    .select2-selection {
      border-radius: 0;
      border: none;
      background-color: #eaeaea;
      .select2-selection__rendered {
        padding: 10px 0 10px 50px;
        background: url('../images/search.png') 15px 15px no-repeat;
      }
    }
  }
  .tags-select {
    min-width: 74%;
  }
  .select-wrapper {
    display: inline-block;
    padding-left: 4%;
    box-sizing: border-box;
    width: calc(26% - 5px);
    .single-select {
      width: 100%;
    }
    .select2-selection {
      height: 50px;
      text-align: center;
      background-color: #414146;
      &:focus {
        outline: none;
      }
      .select2-selection__rendered {
        padding: 10px 0;
        color: #fff;
        font: 30px / 36px 'BebasNeueBold', 'OpenSans', sans-serif;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        background: none;
      }
    }
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 15px;
    right: 10px;
    color: #fff;
    font: normal normal normal 19px/1 FontAwesome;
    &:before {
      content: '\f107';
    }
    b {
      display: none;
    }
  }
  .select2-container--open .select2-selection--single .select2-selection__arrow {
    &:before {
      content: '\f106';
    }
  }
  .content {
    margin-left: -5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .worker-item {
      margin-bottom: 55px;
      padding-left: 5%;
      width: 20%;
      .section-title,
      .section-subtitle {
        display: block;
        text-align: center;
      }
      .main-link {
        color: #414146;
      }
      .section-title {
        font-size: 20px;
        line-height: 30px;
      }
      .subtitle-link {
        color: #90909b;
      }
      .section-subtitle {
        font-size: 15px;
      }
    }
    .img-wrapper {
      margin-bottom: 5px;
      max-height: 170px;
      overflow: hidden;
      &:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      img {
        width: 100%;
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
  }
  .profile-content {
    padding: 40px 35px;
    background-color: #fff;
    .main-info {
      padding-bottom: 40px;
      border-bottom: 20px solid whitesmoke;
      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
    }
    .info-folio,
    .info-about {
      float: left;
      width: 50%;
    }
    .info-title {
      margin-bottom: 40px;
      color: black;
      font: 25px / 26px 'OpenSans', sans-serif;
      text-transform: uppercase;
      .title-yellow {
        color: #ffc40d;
        font: 25px / 35px 'OpenSans', sans-serif;
      }
    }
  }
  .trololo {
    color: #515a5f;
    a,
    th,
    td {
      color: #515a5f;
      text-align: left;
      font: 16px / 26px 'OpenSans', sans-serif;
    }
    th {
      padding-right: 45px;
      font-family: 'OpenSans-Bold', sans-serif;
    }
  }
  /* Slick Slider */
  .folio-slider {
    position: relative;
    .slick-arrow {
      position: absolute;
      z-index: 1;
      width: 30px;
      height: 30px;
      color: #fff;
      background-color: #ffd600;
      font-size: 0;
      border: none;
      &:hover {
        cursor: pointer;
        background-color: #ffc40d;
      }
    }
    .slick-prev {
      bottom: 10px;
      left: 10px;
      &:before {
        content: '\f104';
        position: absolute;
        top: 6px;
        left: 13px;
        font: normal normal normal 19px/1 FontAwesome;
      }
    }
    .slick-next {
      bottom: 10px;
      left: 45px;
      &:before {
        content: '\f105';
        position: absolute;
        top: 6px;
        left: 13px;
        font: normal normal normal 19px/1 FontAwesome;
      }
    }
  }
  .slick-slide {
    img {
      width: 100%;
    }
  }
  .secondary-info {
    padding-bottom: 40px;
  }
  /* Tabs */
  .horizontal {
    padding: 40px 0 20px;
    display: flex;
    justify-content: space-around;
    li {
      position: relative;
      width: 30%;
      display: inline-block;
    }
    .active {
      &:after {
        content: '';
        position: relative;
        margin: 0 auto;
        top: 20px;
        display: block;
        width: 40px;
        height: 20px;
        background: url('../images/arr_up.png') center no-repeat;
      }
    }
    a {
      color: #515a5f;
      &:hover .tab-img {
        border-color: #ffc40d;
      }
    }
    .tab-title {
      text-align: center;
      color: #515a5f;
      font: 30px / 63px 'BebasNeueBold', 'OpenSans-Bold', sans-serif;
      text-transform: uppercase;
    }
    .tab-img {
      margin: 0 auto;
      width: 110px;
      height: 110px;
      border: 20px solid #ffd600;
      border-radius: 50%;
    }
    .tab-1 {
      .tab-img {
        background: #fefaea url('../images/achiev.png') center no-repeat;
      }
    }
    .tab-2 {
      .tab-img {
        background: #fefaea url('../images/hobby.png') center no-repeat;
      }
    }
    .tab-3 {
      .tab-img {
        background: #fefaea url('../images/portfolio.png') center no-repeat;
      }
    }
  }
  .tab-content {
    padding: 25px;
    border: 20px solid whitesmoke;
  }
  .achievemnts-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .list-item {
      margin-bottom: 40px;
      width: calc(21% + 1px);
    }
  }
}
/*----------------------------------------------- Footer -------------------------------------------------------------*/
.profile-page,
.home {
  footer {
    .container {
      margin-bottom: 65px;
      padding: 0 45px;
      background-color: #414146;
      border-bottom: 20px solid #ffd600;
    }
  }
}
footer {
  .footer-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    .copyright,
    .footer-logo,
    .scroll-up-btn {
      width: 30%;
    }
    .copy {
      margin-top: 45px;
      padding: 0 10px;
      display: inline-block;
      color: #ffd600;
      opacity: 0.5;
      font: 13px / 26px 'OpenSans', sans-serif;
      border: 1px solid #ffd600;
    }
    .footer-logo {
      text-align: center;
    }
    .scroll-up-btn {
      position: relative;
      .scroll-btn {
        position: relative;
        float: right;
        margin-top: 40px;
        display: block;
        width: 40px;
        height: 40px;
        color: #414146;
        font: normal normal normal 25px/1 FontAwesome;
        background-color: #ffd600;
        &:hover {
          cursor: pointer;
          background-color: #ffc40d;
        }
        &:after {
          content: '\f106';
          position: absolute;
          top: 7px;
          left: 12px;
        }
      }
    }
  }
}